<!-- <h1>Angular SVG & Canvas Demos</h1>
<nav>
  <a routerLink="/svg/basic" routerLinkActive="active">Basic SVG</a>
  <a routerLink="/svg/bindings" routerLinkActive="active">SVG with Bindings</a>
  <a routerLink="/svg/components" routerLinkActive="active">SVG with Components</a>
  <a routerLink="/svg/css-animation" routerLinkActive="active">CSS-animated SVG</a>
  <a routerLink="/svg/gsap-animation" routerLinkActive="active">GSAP-animated SVG</a>
  <a routerLink="/canvas/basic" routerLinkActive="active">Basic Canvas</a>
  <a routerLink="/canvas/changes" routerLinkActive="active">Canvas with Bindings</a>
  <a routerLink="/canvas/animated" routerLinkActive="active">Canvas with Animation</a>
</nav>


<router-outlet>
</router-outlet> -->

<!-- Scroll magic - Advanced Tweening -->

<div class="container">
  <ul id="menu"></ul>
  <div id="content-wrapper">
    <div id="example-wrapper">
      <div class="scrollContent">
  
        <button (click)="doTwinAnimation()" style="width: 200px; height: 40px; background-color: gray;"></button>
  
        <section class="demo" style="overflow-x: hidden">
          <div id="trigger4" class="spacer s1"></div>
          <div class="animate4 box2 black outline">
          </div>
          <div class="animate4 box2 black outline"></div>
          <div class="animate4 box2 black outline"></div>
          <div class="animate4 box2 black outline"></div>
          <div class="animate4 box2 black outline"></div>
          <div class="animate4 box2 black outline"></div>
          <div class="animate4 box2 black outline"></div>
          <div class="animate4 box2 black outline"></div>
          <div class="animate4 box2 black outline"></div>
          <div class="animate4 box2 black outline"></div>
        </section>
  
        <div class="spacer s_viewport"></div>
      </div>
    </div>
  </div>
  </div>

  <!-- Callback duration -->

  <ul id="menu"></ul>
	<div id="content-wrapper">
		<div id="example-wrapper">
			<div class="scrollContent">
          
        <button (click)="doCallBackAnimation()" style="width: 200px; height: 40px; background-color:red;"></button>

				<section class="demo" style="perspective: 300px">
					<div class="spacer s1"></div>
					<div class="spacer s1" id="trigger"></div>
					<div class="spacer s0"></div>
					<div id="animate" class="box1 blue">
						<p>Da Flippity Flop</p>
						<a href="#" class="viewsource">view source</a>
					</div>
					<div class="spacer s2"></div>
				</section>
				<div class="spacer s_viewport"></div>
			</div>
		</div>
	</div>