// :host {
//   display: block;
//   max-width: 768px;
//   margin: 0 auto;
// }

// nav a {
//   display: inline-block;
//   padding-right: 1em;
//   color: blue;

//   &.active {
//     font-weight: bolder;
//   }
// }



#example-wrapper {
  height: 100%;
}

/*#example-wrapper .scrollContent, #example-wrapper.horizontal .scrollContent {*/
  /*font-size: 0;*/
/*}*/

#example-wrapper .scrollContent {
  height: 100%;
  min-height: 2000px;
}

.dummy {
  width: 100%;
  height: 300px;
  background-color: lightyellow;
}

.spacer.s1 {
  min-height: 100px;
}

.spacer {
  text-align: center;
  min-height: 100px;
}

div {
  display: block;
}

.spacer.s0 {
  min-height: 1px;
}

.box2.outline, .box3.outline {
  border: 1px solid white;
}

.black {
  background-color: #000000;
}
.box2 {
  min-width: 50px;
  height: 50px;
  margin: 25px auto 25px auto;
}
.box1, .box2, .box3 {
  display: inline-block;
  position: relative;
  border-radius: 8px;
  border: 0px solid white;
  text-align: center;
  vertical-align: middle;
  padding: 0 5px;
}

.spacer.s2 {
  min-height: 200px;
}
